{% extends 'base.html' %}

{% block content %}
    <style>
        input {
            max-width: 300px;
        }
    </style>
    <div class="container text-left">
        <h1 class="display-4"> 로그인 </h1>
            <form method="POST" class="post-form">
                {% csrf_token %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="form-group input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="id_username"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" name="username" autofocus required class="form-control" aria-describedby="id_username" id="id_username" placeholder="Username">
                </div>
                <div class="form-group input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="id_password"><i class="fa fa-lock"></i></span>
                        </div>
                    <input type="password" name="password" required class="form-control" aria-describedly="id_password" id="id_password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-dark"> Login </button>
                <a href="/password_reset"><button type="button" class="btn btn-dark"> Find Password </button></a>
            </form>
            <br>
    </div>
{% endblock %}
